/* ==========================================================================
   SITE STYLES
   ========================================================================== */

/*
        Basic Structure
*/

* { box-sizing: border-box }

html, body {
  background: $bg;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: $serif;
  font-size: $font-size-4;
}

a {
  text-decoration: none;
  @include transit(all, .2s, ease-in-out);
  &:hover {
    color: lighten($link, 10%);
    @include transit(all, .2s, ease-in-out);
  }
}

p {
  line-height: 36px;
}

small {
  font-size: $font-size-6;
  text-transform: uppercase;
}

/* Basic Structure Classes */

.page-wrap {
  width: 100%;
  margin: 0;
  height: auto!important;
  @include clearfix();
  margin-bottom: -$footerHeight;
  &:after {
    height: $footerHeight;
  }
}

.push {
  height: $footerHeight/2;
}

article {
  @include column(8);
  margin: 0 auto;
  float: none;
  display:block;
  max-width: 760px;
  min-height: 1px;
  display: block;
  @include clearfix();

  @include breakpoint(phone) {
    font-size: $font-size-5;
  }
}

.wrap {
    max-width: 760px;
    @include column(8);
    display: block;
    float: none;
    margin: 0 auto;
    @include clearfix;
    overflow: hidden;

    @include breakpoint(phone) {
      @include column(9);
      display: block;
      float: none;
      margin: 0 auto;
      @include clearfix;
      overflow: hidden;
    }
}

footer {
  height: $footerHeight;
  background: darken($accent, 10%);
  display: block;
  position: relative;
}

/*
        Header
*/

header.site-header {
  padding: 10px 0;
  position: relative;
  display: block;
  width: 100%;
  z-index: 5000;
  text-transform: uppercase;
  letter-spacing: 1px;
}


header.site-header a.menu {
  display: none;
}

header.site-header hgroup h1, header.site-header nav ul {
  font-family: $sans;
}

header.site-header hgroup {
  float: left;
  @include clearfix();
  h1 {
      font-size: 14px;
      line-height: 100%;
  }
  a {
      color: $off-black;
      opacity: .3;
      @include transit(all, .2s, ease);

      &:hover {
        opacity: .6;
        @include transit(all, .2s, ease);
      }
  }
}

header.site-header nav {
  float: right;
  display: block;
  @include clearfix;

  ul {
    margin: 10px 0;
  }
  
  ul li {
    font-size: 14px;
    display: inline;
    top: 0px;
    position: relative;
    margin-left: 20px; 
    a {
        color: $off-black;
        opacity: .3;
        @include transit(all, .2s, ease);
        &:hover {
            opacity: .6;
            @include transit(all, .2s, ease);
        }
    } 
  }
}


/* 
        Landing Page 
*/

.overlay {
  position: relative;
  max-height: 700px;
  height: 55vh;
  min-height: 400px;
  position: relative;
  background-color: transparentize($accent, .2);
}

.hero {
  @extend overlay;

  // Background
  background: url(https://i.cloudup.com/3l2riHBbhD.thumb.jpg) no-repeat center center fixed; 
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;

  // Queries
  @include breakpoint(tablet) {
      height: 400px;    
  }
}

.hero .vA {
  position: relative;
  max-height: 700px;
  height: 55vh;
  min-height: 400px;
  display: table;
  max-width: 760px;
  width: 77%;
  margin: 0 auto;
  
  h3 {
    display: table-cell;
    vertical-align: middle;
  }
}

.cta {
  line-height: 1.4em;
  color: $bg;

  @include breakpoint(desktop) {
    font-size: 48px;
  }

  @include breakpoint(phone) {
    font-size: 24px;
  }
}

.homepage p{
  &:first-child {
    margin-top: $lh*2;
  }
}

.homepage {
  ul {
    margin: 32px auto;
    float: none;
    font-size: $font-size-5;
    color: $off-black;
    font-family: $sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2em;
    padding: 2em;
    list-style-type: none;
    list-style: none;
    background: white;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02);
    max-width: 440px;

    li {
      opacity: .4;
      padding: .5em;
      max-width: 400px;
    }

    @include breakpoint(phone) {
      font-size: font-size-6;
      padding: .75em;
    }
  }
}

/*
        Form
*/

footer {
  padding-top: 1em;
  font-family: $sans;
  background: $accent;
  font-size: $font-size-5;
  color: white;
  p {
    font-size: $font-size-5;
    color: white;
  }
  // h4 tag
  h4 {
    color: white;
    margin-left: 1.5%;
    margin-bottom: 1.5em;
  }

  // Inputs and Forms
  input, textarea {
    font-size: $font-size-5;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    margin-top: 18px;
    &:focus {
      outline: none;
      border: none;
    }
  }
} 

footer input[type="email"],input[type="text"] {
  height: 46px;
  padding: 0 14px;
  display:block;
  &:focus, &:active {
  }
}

footer textarea {
  @include column(5);
  height: 200px;
  resize: none;
  padding: 16px;
}

.email-submit {
  @include column(4);
  @include push(1);
  float: right;
}

input[type="email"] {
    width: 100%;
    margin-top: 0;
}

input[type="submit"] {
  height: 48px;
  padding: 16px;
  width: 100%;
  line-height: 0;
  display: block;
  background: none;
  border: 2px solid white;
  color: white;
  @include transit(all, .2s, ease-in-out);
  -webkit-box-shadow : 0 2px 0 rgba(0,0,0,.2), inset 0 2px 0 rgba(0,0,0,.2);
  -moz-box-shadow    : 0 2px 0 rgba(0,0,0,.2), inset 0 2px 0 rgba(0,0,0,.2);
  box-shadow         : 0 2px 0 rgba(0,0,0,.2), inset 0 2px 0 rgba(0,0,0,.2);

  &:hover {
    text-shadow: 0 0px 2px rgba(255,255,255,.2);
    @include transit(all, .2s, ease-in-out);
  }

  &:active, &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 2px solid white;
    background:none;

  }
}

.copy {
  display: block;
  color: transparentize(white, .8);
  text-align: center;
  bottom: 10px;
  position: absolute;
  width: 100%;
  
  a {
    color: transparentize(white, .8);
    @include transit(color, .2s, ease);
    &:hover {
      color: white;
      @include transit(color,.2s,ease);
    }
  }
}

/*
Scrollbar
*/


