  {% include _head.html %}
      <header class="hero">
        <section class="vA">
        <h3 class="cta lig">Stephen C. Townsend is an attorney at law with over 35 years of experience, located downtown at Larkin &amp; Exchange.</h3>
        </section>
      </header>
      <article class="homepage">
        {{ content }}
        <ul id="location">
          <li>726 Exchange Street #1000</li>
          <li>Buffalo, NY 14210</li>
          <li>716-697-4252</li>
        </ul>
      </article>
    </div>
    {% include _footer.html %}
  </body>

</html>